.env
.metals
.vscode
**.bsp
*.class
*.log
hs_err_pid*
target/*
project/*
docker/.env 
.env.*
**/__pycache__
**/.DS_Store
**/data/output
**/warehouse/*
!**/warehouse/jupyter_installation_test.ipynb
**/spark-logs
**/target/
**/.ipynb_checkpoints
pg_data/
logs/
kafka/
**/kafka-logs
**/kafka-streams-logs
**/kafka-connect-logs
**/kafka-connect-jdbc-logs
**/kafka-connect-file-logs
**/kafka-connect-s3-logs
**/kafka-connect-redis-logs
kafka-data/
dbt/profiles/profiles.yml
