.env
.metals
.vscode
**.bsp
*.class
*.log
hs_err_pid*
target/*
project/*
docker/.env 
.env.*
**/__pycache__
**/.DS_Store
**/data/output
**/warehouse/*
!**/warehouse/jupyter_installation_test.ipynb
**/spark-logs
**/target/
**/.ipynb_checkpoints
pg_data/
logs/
kafka/
**/kafka-logs
**/kafka-streams-logs
**/kafka-connect-logs
**/kafka-connect-jdbc-logs
**/kafka-connect-file-logs
**/kafka-connect-s3-logs
**/kafka-connect-redis-logs
kafka-data/
sap_dbt/profiles/profiles.yml
sap_dbt/.dbt/profiles.yml
sap_dbt/.dbt/target/
sap_dbt/.dbt/manifest.json
sap_dbt/.dbt/run_results.json
sap_dbt/.dbt/catalog.json
sap_dbt/.dbt/compiled/
sap_dbt/.dbt/target/
sap_dbt/.dbt/cleaned/
sap_dbt/.dbt/compiled/
sap_dbt/.dbt/compiled/
sap_dbt/data/
sap_dbt/logs/* 
sap_dbt/target/
sap_dbt/seeds/
sap_dbt/profiles/profiles.yml
data/*
